#scroller,
.full,
.full > img {
	top: 0;
	height: 100vh;
	width: 100vw;
	left: 0;
	position: fixed;
}
.full > img {
	object-fit: contain;
}

#scroller {
	width: calc(100vw + 10em);
	position: absolute;
}
body {
	overflow-y: hidden;
}

#constant-image {
	z-index: -10;
	left: -100vw;
}

::-webkit-scrollbar,
::-moz-horizontal-scrollbar,
::-moz-scrollbar { 
    display: none; 
}

#loading {
	background: rgba(0, 0, 0, 0.5);
	color: white;
	font-family: sans-serif;
	line-height: 100vh;
	text-align: center;
	font-size: 8vw;
	z-index: 10;
}

.hidden {
	visibility: hidden;
}
